<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <% if(username){ %>
    <h1>hello <%= username %> </h1>
    <form method ="POST" action ="/logout">
      <button>logout</button>
    </form>
    <% } else { %>
    <form method="POST" action="/login">
      <input type="text" name="username" placeholder="login">
      <button>submit</button>
    </form>
    <% } %>
</body>
</html>