<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>
   <%= longURL['longURL'] %>
   <form method="POST" action="/urls/<%= shortURL %>/update">
    <label for="input">Change URL:</label>
    <input id="input" type="text" name="input" placeholder="new URL" style="width: 300px">
    <button>update</button>
  </form>
    <br>
   <%= shortURL %>
</body>
</html>