<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>
    <ul>
      List
      <% for(var link in urls){ %>
        <li>
          <%= link  %>
           -
          <a href="#"> <%= urls[link] %> </a>
          <br>
          <form method="POST" action="/urls/<%= link %>/delete">
            <button>delete</button>
          </form>
          <form method="GET" action="/urls/<%= link %>">
            <button>update</button>
          </form>
        </li>
      <% } %>

    </ul>
</body>
</html>


