<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <% include ./partials/_header %>
    <ul>
      List
      <% for(var link in urls){ %>
      <li><%= link  %> <form method="POST" action="/urls/9sm5xK/delete"> <button>delete</button> </form> - <%= urls[link] %> <a href="#">link</a> </li>
      <% } %>

    </ul>
</body>
</html>